<div class="page-header">
  <h1><%= @project.name + ": Manage Members" %></h1>
</div>

<ol class="breadcrumb">
  <li><%= link_to "Projects", projects_path %></li>
  <li><%= link_to @project.name, project_path(@project) %></li>
  <li>Memberships</li>
</ol>

<% if @membership.errors.any? %>
  <div class= "row">
    <div class= "col-md-7">
      <div class= "alert alert-danger">
        <h3><%= pluralize(@membership.errors.count, "error") %> prohibited this form from being saved:</h3>
          <% @membership.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if Membership.where(project_id: @project.id).include?(current_user.memberships.find_by(project_id: @project.id, role: 1)) || current_user.admin %>
  <div class="well">
    <%= form_for [@membership], url: project_memberships_path(@project), html: {class: "form-inline"}  do |f| %>

      <%= f.collection_select(:user_id, User.all, :id, :full_name, {prompt: "Please select a user..."}, {class: "form-control"}) %>
      <td> <%= f.collection_select(:role, Membership.roles.keys, :to_s, :to_s, {}, {class: "form-control"}) %></td>
      <%= f.submit 'Add New Member', class: 'btn btn-primary' %>

      <% end %>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-7">
      <table class="table">
        <tbody>
          <% @project.memberships.each do |membership| %>
            <% if membership.user.present? && membership.id.present? %>
              <%= form_for [@project, membership] do |f| %>
                <tr>
                  <% if @project.memberships.where(role: 1).pluck(:user_id).include?(current_user.id) || current_user.admin %>
                    <td><%= link_to membership.user.full_name, user_path(membership.user) %></td>
                    <td><%= f.collection_select(:role, Membership.roles.keys, :to_s, :to_s, {}, {class: "form-control"}) %></td>
                    <td><%= f.submit "Update", class: "btn btn-primary" %></td>
                    <% if membership.role == "Owner" && @project.memberships.where(role: 1).count == 1 %>
                      <td>You are the last owner</td>
                    <% else %>
                      <td><%= link_to '', project_membership_path(@project, membership), method: :delete, class: 'glyphicon glyphicon-remove' %></td>
                    <% end %>
                  <% else %>
                    <td><%= link_to membership.user.full_name, user_path(membership.user) %></td>
                    <td><%= membership.role.downcase %> </td>
                    <% if current_user.id == membership.user_id || current_user.admin %>
                      <td><%= link_to "", project_membership_path(@project, membership), method: :delete, class: "glyphicon glyphicon-remove" %></td>
                    <% else %>
                      <td></td>
                    <% end %>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
