<%= form_for @task, html: {class: "form-horizontal"} do |f| %>

<div class="form-group">
  <% if @user.errors.any? %>
    <div class="col-md-6 col-md-offset-2">
      <div class="alert alert-danger">
        <h3> <%= pluralize(@task.errors.count, 'errors') %> prohibited this form from being saved:</h3>
          <ul>
            <% @task.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
      </div>
    </div>
  <% end %>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label">Description</label>
  <div class="col-sm-4">
    <%= f.text_field :description, class: "form-control" %>
  </div>
</div>
<div class = "form-group">
  <%= f.label :date, class: "col-sm-2 control-label" %>
  <div class="col-sm-4">
    <%= f.date_field :date, class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <div class = "col-md-offset-2 col-md-10">
    <%= f.check_box :complete %>
    <%= f.label :complete %>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <button type="submit" class="btn btn-primary">Update Task</button>
    <button type="cancel", tasks_path, class="btn btn-default">Cancel</button>
  </div>
</div>

<% end %>
