<div class="page-header">
  <%= link_to "New Task", new_project_task_path(@project), class:"btn btn-info pull-right" %>
  <h1>Tasks for <%= @name %> </h1>
</div>

<ol class="breadcrumb">
  <li><%= link_to "Projects", projects_path %></li>
  <li><%= link_to @project.name, project_path(@project) %></li>
  <li>Tasks</li>
</ol>

<table class="table">
  <thead>
    <tr>
      <th>
        Description
      </th>
      <th>
        Due On
      </th>
      <th></th>
    </tr>
  </thead>

    <tbody>
      <% @tasks.each do |task| %>
      <tr>
        <td>
          <%= link_to task.description, project_task_path(@project, task) %>
        </td>
        <td>
          <%= task.date %>
        </td>
        <td>
          <div class="pull-right">
            <%= link_to "Edit", edit_project_task_path(@project, task), class:"btn btn-info" %>
            <%= link_to "Delete", project_task_path(@project, task), method: :delete, class:"btn btn-danger" %>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
