<div class="page-header">
  <h1>New Task</h1>
</div>

<div class="form-horizontal">
  <a href="/tasks">Tasks</a> >
  <class="active">New Task

  <br>
  <br>

  <%= form_for @task do |f| %>
  <div class = "form-group">
    <div class="col-md-1">
      <%= f.label :description, class: "control-label" %>
    </div>
    <div class="col-md-4">
      <%= f.text_field :description, class: "form-control" %>
    </div>
  </div>

    <div class = "form-group">
        <%= f.label :name, "Due Date", class: "col-md-1 control-label" %>
      <div class="col-md-2">
        <%= f.date_field :date, class: "form-control" %>
      </div>
    </div>

    <div class= "form-group">
      <div class= "col-md-offset-1 col-md-11">
        <%= f.submit "Create Task", class:"btn btn-primary" %>
        <%= link_to "cancel", tasks_path, class:"btn btn-default" %>
      </div>
    </div>
</div>
<br>
<% end %>
