  <% if notice %>
  <p class="alert alert-success" role="alert"><%= notice %></p>
  <% end %>

  <div class="page-header">
    <%= link_to "Edit", edit_task_path(@task), class:"btn btn-info pull-right" %>

      <% if @task.complete == true %>
        <s><h1><%= @task.description %></h1></s>
      <% else %>
        <h1><%= @task.description %></h1>
      <% end %>

  </div>

  <ol class="breadcrumb">
    <li><a href="/tasks">Tasks</a></li>
    <li><a href="/tasks"><%= @task.description %></a></li>
  </ol>
