  <div class="page-header">
    <%= link_to "Edit", edit_project_task_path(@project, @task), class:"btn btn-info pull-right" %>

      <% if @task.complete == true %>
        <s><h1><%= @task.description %></h1></s>
      <% else %>
        <h1><%= @task.description %></h1>
      <% end %>
  </div>

  <ol class="breadcrumb">
    <li><%= link_to "Projects", projects_path %></li>
    <li><%= link_to @project.name, project_path(@project) %></li>
    <li><%= link_to "Tasks", project_tasks_path %></li>
    <li><%= @task.description %></li>
  </ol>

  <% if @task.date %>
    <strong>Due On: </strong><%=@task.date.strftime("%m/%d/%Y")%>
  <% end %>

  <h3>Comments</h3>

  <% @task.comments.each do |comment| %>
    <p>
      <div class = "row">
        <div class = "col-md-3">
          <% if comment.user_id %>
            <%= link_to comment.user.full_name, user_path(comment.user) %>
          <% else %>
            <p class = "text-muted">(deleted user)</p>
          <% end %>
          <p class = "text-muted">
           <%= time_ago_in_words(comment.created_at) + " ago" %>
          </p>
       </div>
       <div class= "col-md-9 pull-right">
         <%= comment.message %>
       </div>
     </div>
   </p>
 <% end %>

  <%= form_for [@task, @comment] do |f|%>
  <div class = "form-group">
    <div class="col-sm-offset-3 col-md-9">
        <div class = "form-group">
          <%= f.text_area :message, class: "form-control" %>
        </div>
        <p><%= f.submit "Add Comment", class: "btn btn-primary" %></p>
    </div>
  </div>
<% end %>
