  <div class="page-header">
    <%= link_to "Edit", edit_project_task_path(@project, @task), class:"btn btn-info pull-right" %>

      <% if @task.complete == true %>
        <s><h1><%= @task.description %></h1></s>
      <% else %>
        <h1><%= @task.description %></h1>
      <% end %>

  </div>

  <ol class="breadcrumb">
    <li><%= link_to "Projects", projects_path %></li>
    <li><%= link_to @project.name, project_path(@project) %></li>
    <li><%= link_to "Tasks", project_tasks_path %></li>
    <li><%= @task.description %></li>
  </ol>
