<% if notice %>
<p class="alert alert-success" role="alert"><%= notice %></p>
<% end %>

<div class="page-header">
  <%= link_to "New User", new_user_path(@user), class:"btn btn-info pull-right" %>
  <h1>Users</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Email
      </th>
      <th></th>
    </tr>
  </thead>

    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to user.first_name + " " + user.last_name, user_path(user) %>
        </td>
        <td>
          <%= mail_to user.email %>
        </td>
        <td>
          <div class="pull-right">
            <%= link_to "Edit ", edit_user_path(user)%>
            <!-- <%= link_to "Delete", user, method: :delete, class:"btn btn-danger" %> -->
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
