<div class="page-header">
  <% if @user == current_user || current_user.admin %>
    <%= link_to "Edit", edit_user_path(@user), class:"btn btn-info pull-right" %>
  <% end %>
  <h1><%= @user.first_name %> <%= @user.last_name %></h1>
</div>

<dl class="dl-horizontal">
  <dt><b>First Name</b></dt>
    <dd><%= @user.first_name %></dd>
<br>
  <dt><b>Last Name</b></dt>
    <dd><%= @user.last_name %></dd>
<br>
  <% if @user == current_user || (@user.projects & current_user.projects).any? || current_user.admin %>
    <dt><b>Email</b></dt>
    <dd>
      <%= mail_to @user.email %>
    </dd>
  <% else %>
    <dd></dd>
  <% end %>
  <br>
  <% if @user.pivotal_token %>
    <dt>Pivotal Tracker Token</dt>
      <dd><%= @user.token_privacy %></dd>
    <br>
    <% end %>
</dl>
