<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <div class="well">
      <%= render partial: "/shared/errors", locals:{object: @user} %>
        <%= form_for @user, html: {class: "form-horizontal"} do |f| %>
        <div class="form-group page-header">
          <h2>Sign up for gCamp!</h2>
        </div>
        <div class="form-group">
          <%= f.label :first_name, class: "label-control" %>
          <%= f.text_field :first_name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :last_name, class: "label-control" %>
          <%= f.text_field :last_name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :email, class: "label-control" %>
          <%= f.email_field :email, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :password, class: "label-control" %>
          <%= f.password_field :password, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, class: "label-control" %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= link_to "Sign Up", sign_up_path, class:"btn btn-default" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
