<div class="jumbotron">
  <h1>gCamp</h1><br>
  <h2>Your life, organized.</h2>
</div>


<div class="row">
  <div class="col-md-4">
    <p class="lead">
    <%=image_tag("tablet_work.jpg", class: "img-responsive")%>
    </p>
  </div>

  <div class="col-md-4">
    <p class="lead">
    <%=image_tag("scattered_papers.jpg", class: "img-responsive")%>
    </p>
  </div>

  <div class="col-md-4">
    <p class="lead">
    <%=image_tag("working_at_desk.jpg", class: "img-responsive")%>
    </p>
  </div>

  <div class="col-md-4">
    <div class="panel panel-primary panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Tasks</h3>
      </div>
      <div class="panel-body">
        Grouped by projects and lists. Just the way you like'em.
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-primary panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Permissions</h3>
      </div>
      <div class="panel-body">
        Fine-grained permissions
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-primary panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Comments</h3>
      </div>
      <div class="panel-body">
        <li>Comments on tasks and documents</li>
        <li>Get email notifications</li>
      </div>
    </div>
  </div>

  <div class="container">
    <div class = "quotes">
        <p> <%= @quotes_array [0][:quote] %></p>
      <div class ='text-muted'>
        <p><em><%= @quotes_array [0][:author] %></em></p>
      </div>
        <p> <%= @quotes_array [1][:quote] %></p>
      <div class ='text-muted'>
        <p><em><%= @quotes_array [1][:author] %></em></p>
      </div>
        <p> <%= @quotes_array [2][:quote] %></p>
      <div class ='text-muted'>
        <p><em><%= @quotes_array [2][:author] %></em></p>
      </div>
    </div>
  </div>

</div>
