<div class="row">
  <div class="well col-md-offset-3 col-md-6">
    <div class="form-group page-header">
      <h2>Sign into gCamp!</h2>
    </div>

        <% if @user.errors.any? %>
            <div class="text-danger">
              <% @user.errors.full_messages.each do |message| %>
                <%= message %><br>
              <% end %>
            </div>
        <% end %>

      <%= form_tag sign_in_path do %>
      <div class="form-group page-header">
        <h2>Sign up for gCamp!</h2>
      </div>
      <div class="form-group">
        <%= label_tag :email, class: "label-control" %>
        <%= email_field_tag :email, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :password, class: "label-control" %>
        <%= password_field_tag :password, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= submit_tag "Sign In", class:"btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>
