<div class="page-header">
  <%= link_to "New Project", new_project_path(@project), class:"btn btn-info pull-right" %>
  <h1>Projects</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Tasks
      </th>
    </tr>
  </thead>

  <tbody>
    <% if current_user.admin %>
      <% @admin_projects.each do |project| %>
      <tr>
        <td>
          <%= link_to project.name, project_path(project) %>
        </td>
        <td>
          <%= link_to project.tasks.count, project_tasks_path(project) %>
        </td>
      </tr>
    <% end %>
    <% else %>
      <% @projects.each do |project| %>
        <tr>
        <td>
          <%= link_to project.name, project_path(project) %>
        </td>
        <td>
          <%= link_to project.tasks.count, project_tasks_path(project) %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<table>
  <% if current_user.pivotal_token %>
  <h1>Pivotal Tracker Projects</h1>
    <table class="table">
      <thead>
        <tr>
          <th>
            Name
          </th>
        </tr>
      </thead>

      <% @tracker_projects.each do |tracker_project| %>

      <tbody>
        <td>
          <%= link_to tracker_project[:name], "tracker_projects/#{tracker_project[:id]}" %>
        </td>
      </tbody>
      <% end %>
</table>
  <% end %>
