<div class="page-header">
  <%= link_to "New Project", new_project_path(@project), class:"btn btn-info pull-right" %>
  <h1>Projects</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>
        Description
      </th>
      <th>
        Due On
      </th>
      <th></th>
    </tr>
  </thead>

    <tbody>
      <% @projects.each do |project| %>
      <tr>
        <td>
          <%= link_to project.description, project_path(project) %>
        </td>
        <td>
          <%= project.date %>
        </td>
        <td>
          <div class="pull-right">
            <%= link_to "Edit ", edit_project_path(project), class:"btn btn-info" %>
            <%= link_to "Delete", project, method: :delete, class:"btn btn-danger" %>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
