<div class="page-header">
  <h1>New Project</h1>
</div>

<%= form_for @project, html: {class: "form-horizontal"} do |f| %>

  <div class="form-group">
    <% if @project.errors.any? %>
      <div class="col-md-6 col-md-offset-2">
        <div class="alert alert-danger">
          <h3>1 errors prohibited this form from being saved:</h3>
            <ul>
              <% @project.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
        </div>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :name, class: "form-control"   %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class:'btn btn-primary' %>
      <%= link_to 'Cancel', projects_path, class: 'btn btn-default' %>
    </div>
  </div>

<% end %>
