<div class="container">

  <div class="page-header">
    <h1>Frequently Asked Questions</h1>
  </div>

  <ul>
    <li>What is gCamp?</li>
    <li>How do I join gCamp?</li>
    <li>When will gCamp be finished?</li>
  </ul>

  <div class = "question">
    <p><h3><%= @question_array [0][:question] %></h3></p>
      <div class ='text-muted'>
    <p><%= @question_array [0][:answer] %></p>
      </div>
    
    <p><h3><%= @question_array [1][:question] %></h3></p>
      <div class ='text-muted'>
    <p><%= @question_array [1][:answer] %></p>
      </div>

    <p><h3><%= @question_array [2][:question] %></h3></p>
      <div class ='text-muted'>
    <p><%= @question_array [2][:answer] %></p>
      </div>

  </div>

</div>
